body {
  background-color: #394a56;
}

.radiogroup {
  position: relative;
  left: 35%;
  margin-top: 10%;
  width: 30vw;
  padding: 30px 50px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}
.clock {
  width: 2vw;
}
.timer {
  display: flex;
  gap: 0.5rem;
}
hr {
  margin-bottom: 1rem;
}
.test_head {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  margin: 8px 0;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.text {
  margin-left: 16px;
  opacity: 0.6;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow: -4px -2px 4px 0px #d1d9e6, 4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #ecf0f3;
  box-shadow: -4px -2px 4px 0px #fff, 4px 2px 8px 0px #d1d9e6;
  transform: scale3d(1, 1, 1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}

.next-button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 20px;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.next-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.results {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border: 1px solid #3498db;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.correct {
  border-radius: 20px;
  background-color: #77efa9;
  color: white;
}

.incorrect {
  border-radius: 20px;
  background-color: #e2978f;
  color: white;
}

.result p {
  margin: 5px 0;
}

.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}
.result_head,
.result_text {
  color: white;
  font-family: "Tomorrow", serif;
}
.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(33px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.welcome {
  font-family: "Borel", serif;
  color: #fff;
  font-size: 3vw;
}
.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 10vw;
}
.start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex {
  display: flex;
  flex-direction: column;
}

ul li {
  list-style-type: none;
}
.luck {
  font-size: 2vw;
}

@media only screen and (max-width: 768px) {
  .start-button {
    width: 30vw;
  }
  .welcome {
    font-size: 6vw;
  }
  .radiogroup {
    width: 80vw;
    left: 10%;
  }
}
